@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono:wght@200&display=swap');
/* wow big comment */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 100%;
    text-decoration: none;
    font-weight: unset;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

body{
    display: flex;
    min-height: 100vh;
    background-color: #222;
}

#nav {
    display: flex;
    justify-content: space-between;
    background-color: slategray;
}

#nav div{
    padding: 1em;
    font-size: 1.25em;
    /* background-color: aqua; */
}
#nav-links a{
    margin-left: 1em;
}

#nav-links a:hover{
    background-color: red;
    color: black;
}

#content{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 1.25em;
}

.lead{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.content-header{
    font-size: 2em;
}

.center{
    justify-self: center;
    text-align: center;
    align-self: center;
}

.img-round{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}